.input-box {
  flex-grow: 1;
  height: 28px;
  border-radius: 5px;
  border-color: #66d9ff;
}
.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e6f7ff;
  height: 60vw;
  max-height: 500px;
  width: 70vw;
  max-width: 550px;
  border-radius: 20px;
}
.input-box-container {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.submit-button {
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #ff6600;
  color: #333333;
}
.language-label {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}
.Select-language {
  padding: 5px;
  border-radius: 5px;
  color: #333333;
  border: #66d9ff;
}
